@font-face {
    font-family: 'Plus Jakarta Sans Regular';
    font-weight: 400;
    src: url('/fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
    font-family: 'Plus Jakarta Sans Medium';
    font-weight: 500;
    src: url('/fonts/PlusJakartaSans-Medium.ttf');
}
@font-face {
    font-family: 'Plus Jakarta Sans Semibold';
    font-weight: 600;
    src: url('/fonts/PlusJakartaSans-SemiBold.ttf');
}